body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

#demo {
    font-size: 20px;
    margin: 20px 0;
}

button {
    padding: 10px 15px;
    font-size: 36px;
    background-color: #af904c;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #45a049;
    display: block;
}